@import "mixin.scss";
@import "var.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


//1:operators
//2:variables
//3:nesting
//4:mixin
//5:parameters
//6:partials

.main_header {
    @include flexprob;
    width: 100vw;
    height: 100vh;
    background: $bg-color;

    h1 {
        @include commoncode(0.8rem, uppercase);
        &:hover {
            color: #fff;
            cursor: pointer;
        }
            
        &::after {
            content: "Channel";
        }
    }

    
    p {
        @include commoncode(0.3rem, capitalize);
        &:hover {
            color: #fff;
            cursor: pointer;
        }
        
    }
    
}  


